:root{
    --grafitoE: #212121;
    --beige: #F5F5DC;
    --arena:#E2CA76;
    --terracota:#CF7255;
    --azulP:#0C5678;
    --blanco-calido:#FDFBF7;
    --olivo:#9957;

    --metal-cañon-oscuro: #1e1e2f;
    --azul-noche:#2e2e48;
    --indigo-intenso:#4f46e5

}