.contGrid{
    display: grid;
    grid-template-areas: 
           'Cabecera' 
           'Cuerpo'
           'Pie'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 1fr 80px;
}


.cabecera{
    grid-area: Cabecera;
}
.cuerpo{
    grid-area: Cuerpo;
    background-color: beige;
}
.pie{
    grid-area: Pie;
    background-color:var(--azulP);
}


.contAdmin{
    display: grid;
    grid-template-areas: 
       'cabeceraAdmin'
       'cuerpoAdmin' 
    ;
    grid-template-columns: 1fr;
}

.cabeceraAdmin{
    grid-area: cabeceraAdmin;
    height: 35px;
}

.cuerpoAdmin{
    grid-area: cuerpoAdmin;
    min-height: calc(100vh - 77px - 35px);
}